@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family:"Poppins",sans-serif;
  background-color: #f4f4f4;
}
h1,h2,h3,h4,h5,h6{
  color: rgb(63, 180, 247);
}
p{
  color: gray;
}